<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/MyRazorApp.styles.css" asp-append-version="true">
</head>

<body>
    <div>
        <header>
            <partial name="NavMenuPartial.cshtml" />
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
    @RenderSection("scripts", false)
</body>