<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div>
        <header>
            <partial name="NavMenuPartial.cshtml" />
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
</body>